<h2 *ngIf="!weatherData" @fadeIn>{{h2Text}}</h2>
<div class="wrapper" *ngIf="!weatherData" @fadeIn>

    <div class="c-input">
        <div class="input-wrapper">
            <input [(ngModel)]="city" placeholder="Search..." (focus)="onInputFocus()"  
            (blur)="onInputBlur()"/>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 64 64">
                <path d="M 27 9 C 17.075 9 9 17.075 9 27 C 9 36.925 17.075 45 27 45 C 31.129213 45 34.9263 43.587367 37.966797 41.240234 L 51.048828 54.322266 C 51.952828 55.226266 53.418266 55.226266 54.322266 54.322266 C 55.226266 53.418266 55.226266 51.952828 54.322266 51.048828 L 41.240234 37.966797 C 43.587367 34.9263 45 31.129213 45 27 C 45 17.075 36.925 9 27 9 z M 27 13 C 34.719 13 41 19.281 41 27 C 41 34.719 34.719 41 27 41 C 19.281 41 13 34.719 13 27 C 13 19.281 19.281 13 27 13 z"></path>
            </svg>
        </div>
        <button (click)="getWeather()" >Ottieni Meteo</button>
    </div>
    <div class="pop-up" *ngIf="error" @fadeIn>
        <p style="color: #fff; padding-top: 1em; text-align: center;">{{ error }}</p>
    </div>
    
  </div>


  <div class="wrapper-chart" *ngIf="weatherData">


    <div class="c-card-meteo" @fadeIn>
        <img [src]="getWeatherIcon(weatherData.weatherCode)" alt="Icona Meteo">
        <h3>Meteo per {{ capitalizeFirstLetter(city)  }}</h3>
        <p>Temperatura: {{ weatherData.temperature }} °C</p>
        <p>Vento: {{ weatherData.windSpeed }} km/h</p>
        <p>Direzione Vento: {{ weatherData.windDirection }}°</p>
        <p>Umidità: {{ weatherData.humidity }}%</p>
        <p>Condizione Meteo: {{ getWeatherDescription(weatherData.weatherCode) }}</p>
        <button (click)="addFavoriteCity()">Aggiungi ai preferiti</button>
        <button (click)="resetSearch()">Cerca ancora</button>
      </div>

    <div  class="c-chart" *ngIf="weatherData" @fadeIn>
        <h3 *ngIf="weatherData">Andamento temperature per {{ capitalizeFirstLetter(city) }} nelle prossime 24 ore</h3>
        <canvas id="tempChart"></canvas>
    </div>
    
</div>

<app-pop-up #popup></app-pop-up>